<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="addClick()"
        style="float: right"
        data-backdrop="static" data-keyboard="false">
  Add Category
</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categoriesList">
    <td> {{category.id}} </td>
    <td> {{category.name}}</td>
    <td>
      <button type="button" class="btn btn-light mr-1"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="editClick(category)"
              style="float: right"
              data-backdrop="static" data-keyboard="false">
        Edit
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-light mr-1">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>


<!-- Modal Window-->
<div class="modal fade" id="exampleModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-category [category]="category" *ngIf="ActivateAddEditCategory">
        </app-add-edit-category>
      </div>
    </div>
  </div>
</div>
